In [1]:
import numpy as np

In [44]:
from sympy import Eq, diff, symbols, expand, solve

In [45]:
import matplotlib.pyplot as plt

In [46]:
import pandas as pd

In [59]:
df = pd.read_csv('CO_2_data.csv')
df

    year    co2
0   1940   4.85
1   1941   4.97
2   1942   4.95
3   1943   5.04
4   1944   5.11
..   ...    ...
78  2018  36.83
79  2019  37.08
80  2020  35.26
81  2021  37.12
82  2022  37.49

[83 rows x 2 columns]

In [48]:
years = df['year']

In [49]:
co2 = df['co2']

In [50]:
def lin_func(x, params):
    a, b = params[0], params[1]
    return a + b * x

In [51]:
a, b = symbols('a, b')
params = (a, b)

In [52]:
phi = 0

In [53]:
for i in range(len(years)):
    phi += (co2[i] - lin_func(years[i], params))**2

In [54]:
eq1 = Eq(diff(phi, a), 0)
eq2 = Eq(diff(phi, b), 0)

In [56]:
solutions = solve((eq1, eq2), (a, b))
solutions

{a: -833.280314428446, b: 0.430363124973763}

In [60]:
x_axis = np.linspace(1940, 2022, 1000)

In [61]:
y_axis = lin_func(x_axis, (solutions[a], solutions[b]))

In [ ]:
plt.plot(x_axis, y_axis)